/* العناصر الرئيسية */
*{
    --moz-box-sizing: border-box;
    --webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 body{
    font-family: "Cal Sans", sans-serif ,"Bebas Neue", sans-serif;
 }
 html{
    scroll-behavior: smooth;
 }
 ul{
    list-style: none;
 }
     /* small screen */
 @media (min-width: 768px) {
       .container{
        width: 750px;
       }
 }

 /* medium screen */
 @media (min-width:992px) {
         .container{
          width: 970px;
         }
    
 } 
  /* large screen */
@media (min-width:1200px) {
         .container{
          width: 1170px;
         }
 }
/* انتهاء العناصر الرئيسية */