/*start var*/
:root{
    --main-color: #0000cc;
    --second-color:#ffffff;
    --third-color: aqua;
    --trans-color:rgba(7, 174, 174, 50%);
    --section-padding:60px;
}
/* end var */
/* component */
.main-head{
    text-align: center;
}
.main-head h2{
    font-size: 50px;
    font-weight: normal;
    position: relative;
    color: var(--second-color);
    text-transform: uppercase;
    margin-bottom: 50px;

}
.main-head h2::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 140px;
    bottom: -25px;
    background-color: var(--third-color);

}
.main-head h2::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 5px solid var(--main-color);
    height: 20px;
    width: 20px;
    bottom: -38px;
    background-color: var(--third-color);

}
.main-head p{
    width: 500px;
    margin: 0 auto 100px;
    line-height: 1.5;
    max-width: 100%;
    color:var(--third-color);
}

/* end component */
/* العناصر الرئيسية */
*{
    --moz-box-sizing: border-box;
    --webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 body{
    font-family: "Cal Sans", sans-serif ,"Bebas Neue", sans-serif;
    background-color: var(--main-color);
 }
 html{
    scroll-behavior: smooth;
 }
 ul{
    list-style: none;
    
 }
     /* small screen */
 @media (min-width: 768px) {
       .container{
        width: 750px;
       }
        /* .container1{
            width: 750px;
            } */
 }

 /* medium screen */
 @media (min-width:992px) {
         .container{
          width: 970px;
         }
        /* .container1{
            width: 970px;
            } */
    
 } 
  /* large screen */
@media (min-width:1200px) {
         .container{
          width: 1170px;
         }
        /* .container1{
            width: 1170px;
            } */

 }
 @media (min-width: 1400px) {
         .container {
          width:calc(100% - 50px);
         }
         /* .container1{
          width: calc(100% - 50px);
         } */
    
}
/* انتهاء العناصر الرئيسية */

/* start header */
  header{
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 2;


  }
 header .container{
    display: flex;
    justify-content: space-between;
    /* تم التعديل لتضارب الcontainer */
    /* align-items: center; */
    /* --------------- */
    margin: 25px ;
    position: relative;
    min-height :97px;

    } 
header .container  nav::after{
    content: '';
    position:absolute ;
    bottom: 0px;
    height: 2px;
    width: calc(100% - 20px);
    left: 15px;
    background: var(--second-color);
}
header .logo img{
    height: 60px;
    
}
header nav{
    flex: 1;
    display: flex;
    align-items: center;
    color: var(--second-color);
    justify-content: flex-end;
}
header nav .toggle{
    color: var(--second-color);
    font-size: 20px;
    cursor: pointer;
}
@media (min-width: 768px) {
    header nav .toggle{
        display: none;
    }
}

header nav ul{
    display: flex;
    z-index: 1;
    
}
@media (max-width: 765px) {
    header nav ul{
        display: none;
        /* position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        background: var(--main-color);
        transition: 0.5s; */
    }
    
}
/* ترتيب الاعمدة بشكل افقي في الهاتف */
header nav .toggle:hover + ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
   
}
header nav .toggle:hover + ul li a{
    padding: 10px;
}
/* كيفية تموضع الروابط */
header nav ul li a{
    display: block;
    text-decoration: none;
    color: var(--second-color);
    padding: 40px 15px;
    font-size: 15px;
    transition: 0.5s;
   
}
header nav ul li a:hover{
    color: var(--main-color);
    background: var(--second-color);
    border-radius: 0px 100px;
    text-shadow: 0 0 10px var(--main-color);

    
}
header nav ul li a.active{
    color: var(--third-color);
    border-radius: 0px 100px;

}
header nav .form{
    width: 50px;
    height: 30px;
    margin-left: 40px;
    border-left: 3px solid var(--second-color);
}
/* الايقونة */
header nav .form i{
    color: var(--second-color);
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    right: 0;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}
header nav .form i:hover{
    color: var(--third-color);
    text-shadow: 5px 0 10px var(--third-color);
}

/* end header */


/* start landing */
.landing{
    position: relative;
    min-height:calc(100vh - 126px);
    min-width: 100%;
    background-image: url(../imgs/alka.jpg);
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
   
}
/* .landing .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(58, 119, 137, 0.5);
} */
.landing  .text{
    position:absolute;
    top: 50%;
    left: 0;
    transform: translatey(-50%);
    width: 50%;
    background-color: var(--trans-color);
    color: var(--second-color);
    padding: 60px;
    display: flex;
    justify-content: flex-end;
  /* من اجل تموضع النص في نص الشاشة للشاشات الصغيرة */
}
 @media (max-width: 767px) {
    .landing .text{
        width: 100%;
        padding: 20px;
        justify-content: center;
        text-align: center;
    }
    /* ---------------------- */
 }
.landing .text .content{
    max-width: 400px;
}
.landing .text .content h2{
    font-size: 40px;
    font-weight:normal; 
    margin-bottom: 20px;
}
.landing .text .content p{
    font-size: 16px;
    line-height: 1.5;
}   
/* الايقونات الجانبية */
.landing .chang{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--third-color);
}
/* ------ */

/* لاخفائها في الشاشات الصغيرة */
@media (max-width: 767px) {
    .landing .chang{
        display: none;
    }
    
}
/* ----------------------------- */
.landing .fa-angle-left{
    left: 30px;
}
.landing .fa-angle-right{
    right: 30px;
}
.landing .fa-angle-left:hover{
    color: var(--main-color);
    text-shadow: 0 0 10px var(--main-color);
}
.landing .fa-angle-right:hover{
    color: var(--main-color);
    text-shadow: 0 0 10px var(--main-color);
}
.landing .bullets{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.landing .bullets li{
    width: 10px;
    height: 10px;
    background: var(--second-color);
    border: solid 2px var(--main-color);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.landing .bullets li.active{
    background-color: var(--third-color);
}


/* end landing */

/* start servivces */
.our-services{
    padding-top: var(--section-padding) ;
    padding-bottom: var(--section-padding) ;
    margin: 50px;
}

@media (min-width: 767px) {
    .our-services .services-content{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax( 300px,1fr));
        gap: 30px;
    }
}
.our-services .service{
    display: flex
}

@media (max-width: 767px) {
    .our-services .service{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    
    }}
 .our-services .service i{
    margin: 0 0 20px;
    margin-right: 40px;
    font-size: 30px;
    color: var(--second-color);
 }
 .our-services .service h3{
    font-size: 30px;
    font-weight: normal;
    color: var(--second-color);
    margin-bottom: 20px;
 }
 .our-services .service p{
    color: var(--third-color);
    line-height: 1.5;
    font-size: 16px;
 }

/*end services */

/* start design */

/* end design */

/* start portfolio */
.portfolio{
    padding-top: var(--section-padding) ;
    padding-bottom: var(--section-padding) ;
    margin: 50px;
}
/* خواص القائمة */

.portfolio .shuffle{
    display: flex;
    justify-content: center;
}
.portfolio .shuffle li{
    padding: 10px;
    color: var(--second-color);
}
.portfolio .shuffle li:hover{
    background: var(--second-color);
    color: var(--main-color);
    border-radius: 0px 100px;
    transition: 0.5s;
}
.portfolio .shuffle li.active{
    /* background: var(--main-color); */
    color: var(--third-color);
    border-radius: 0px 100px;
}
/* ----------------------------- */
/* كيفية تموضع ال img والمحتوى */
.portfolio .img-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
/* ------------------- */


/* التحكم بالصور وعرضها */

.portfolio .img-container .img-box{
     padding: 10px; 
    position: relative;
    overflow: hidden;
}
/* الشاشات الصغيرة بشكل عمودي */
@media (max-width: 767px) {
    .portfolio .img-container .img-box{
        flex-basis: 100%;
    }
} 
/* ------------------------ */
/* من الشاشات الصغيرة للمتوسطة 2 اعمدة */

@media (min-width: 767px) {
    .portfolio .img-container .img-box{
        flex-basis: 50%;
    }
}

/* من الشاشات المتوسطة للكبيرة 4 اعمدة */
@media (min-width: 1199px) {
    .portfolio .img-container .img-box{
        flex-basis: 25%;
    }
    
}

/* ---------------------------------- */

.portfolio .img-container .img-box img{
    /* ابعاد الصور */
    height: 250px;
    width: 100%;
    /* الصورة ماتطلع خارج المحتوى */
     max-width: 100%;
     /* من أجل الحركة في الصور */
     transition: 0.5s;
     border-radius: 0px 100px;
}
/* تحريك الصور بعد تحريك الماوس  */
.portfolio .img-container .img-box img:hover{
    transform:scale(1.1) rotate(5deg);
    transition: 0.5s;
    border-radius: 0px 100px;
    cursor: pointer;
}
/* ------------------- */

/* التحكم في النص */
.portfolio .img-container .img-box .descripton{

    position: absolute;
    left: 0;
    padding: 20px;
    width: 100%;
    bottom: -100%;
    transition: 0.5s;
    background-color: var(--main-color);


}
/* بعد  الضغط على الصورة */
.portfolio .img-container .img-box:hover .descripton{
    bottom: 0;
    transition: 0.5s;
}
.portfolio .img-container .img-box .descripton h3{
    font-size: 20px;
    color: var(--second-color);
    margin-bottom: 10px;
    text-align: center;
}

/* تنسيق لعرض المزيد من الصور */
.portfolio .more{
 background-color: var(--third-color);
 color: var(--second-color);
 text-decoration: none;
    padding: 10px 20px;
    border-radius: 0px 100px;
    display:block;
    width: fit-content;
    margin:25px auto;
    text-transform: uppercase;

}
/* بعد الضغط على زر more */
.portfolio .more:hover{
    background-color: var(--second-color);
    color: var(--main-color);
    text-shadow: 0 0 10px var(--main-color);
    transition: 0.5s;
}
/* end portfolio */

/* start video */
/* .video{
    position: relative;
}
.video video{
    width: 100%;
    height: 90%;

}
.video .text{
    width: 100%;
    position: absolute;
    top: 70%; 
    transform: translateY(-50%);  
    padding: 50px;
    text-align: center;
    color: var(--second-color);
    background-color: var(--trans-color)

}
.video .text h2{
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 400;
}
.video .text p{
line-height: 1.5;
}
.video .text button{
  background-color: var(--third-color);
 color: var(--second-color);
 text-decoration: none;
    padding: 10px 20px;
    border-radius: 0px 100px;
    display:block;
    width: fit-content;
    margin:25px auto;
    text-transform: uppercase;

}
.video .text button:hover{
    background-color: var(--second-color);
    color: var(--main-color);
    text-shadow: 0 0 10px var(--main-color);
    transition: 0.5s;
} */


/* end video */

/* start about */
.about-us{
    padding-top: var(--section-padding) ;
    overflow: hidden;
    text-align: center;
}
.about-us img {
    position: relative;  
    max-width: 90%;
    border: solid 5px var(--second-color);
    border-radius: 0px 100px;
    margin-top: -120px;
    bottom: -120px;  
}
@media (max-width: 767px) {
    .about-us img{
        margin-top: -60px;
        bottom: -60px;  
          
    }
    
}
/* end about */

/* start our skills */
.our-skills{
    padding-top: var(--section-padding) ;
    padding-bottom: var(--section-padding) ;
}
.our-skills .container  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (min-width: 800px) {
    .our-skills .container > div {
        flex-basis: 45%;
    }
}
@media (max-width: 799px) {
    .our-skills .container > div {
        flex-basis: 100%;
    }
    
}
.our-skills .container > div > h3{
 margin: 0 0 30px;
 font-weight: normal;
 text-align: center;
 text-transform: uppercase;
 color: var(--second-color);
}
.our-skills .container > div > p{
    color: var(--third-color);
    line-height: 1.5;
    text-align: center;
    margin-bottom: 60px;
}
/* part testmonial */
.our-skills .testimonial .content{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}
.our-skills .testimonial .content:hover{
    transform: scale(1.1);
}
.our-skills .testimonial .content img{
    height: 100px;
    width: 100px;
    border: solid var(--second-color);
    border-radius: 50%;
    margin-right: 40px;
    
}
@media (max-width: 767px) {
    .our-skills .testimonial .content {
        flex-direction: column;
        text-align: center;
    }
    .our-skills .testimonial .content img{
        margin: 0 auto 20px;
    }
    
}
.our-skills .testimonial .text{
    line-height:3;
    border-bottom: 2px dotted var(--third-color);
    color:#777;

}
.our-skills .testimonial .text p {
    font-size: 14px;
    font-weight: bold;
    color:  var(--second-color);
    text-align: right;
    margin-bottom: 15px;
}

 .our-skills .testimonial .bullets{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

 }
 .our-skills .testimonial .bullets li{
     width: 10px;
    height: 10px;
    background: var(--second-color);
    border: solid 2px var(--main-color);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
 }
 .our-skills .testimonial .bullets li.active{
    background-color: var(--third-color);
 }

 /* عند المرور من فوق الصور */
.our-skills .testimonial .content img:hover{
    transform: skewX(10deg);
}
/* ---------------- */

/* part skills  */
.our-skills .skills .prog{
    margin-bottom: 50px;

}
.our-skills .skills .prog h4{
    margin-bottom: 10px;
    color: var(--second-color);

}
.our-skills .skills .prog .prog-bar{
    background-color: #777;
    height: 25px;
}
.our-skills .skills .prog .prog-bar span{
    display: block;
    background-color: var(--third-color);
    height: 100%;
    position: relative;


}
.our-skills .skills .prog .prog-bar span::before{
    content:attr(data-progress);
    position: absolute;
    background-color: var(--third-color);
    border-radius:0 100px;
    width: 50px;
    color: var(--main-color);
    top: -30px;
    right: -15px;
    text-align: center;


}
.our-skills .skills .prog .prog-bar span::after{
    content:'';
    position: absolute;
    border-style: solid;
    border-width: 10px;
    border-color:aqua transparent transparent ;
    right: -10px;
    top: -15px;

}
/* end skills*/

/* end our skills */

/* start subscribe */

.subscribe{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../imgs/ABOUT.png);
    background-size: cover;
    position: relative;
    color: var(--second-color);
  

}
.subscribe::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--trans-color);
}
.subscribe .container{
    position: relative;
    display: flex;
    align-items: center;
}
@media (max-width: 991px) {
    .subscribe .container{
        flex-direction: column;
    }
    
}
.subscribe form{
    display: flex;
    position: relative;
    width: 700px;
    max-width: 100%;
}

.subscribe form i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left:25px;
    color: var(--second-color);

}
.subscribe form input[type="email"]{
    border-radius: 0 100px;
    border: solid 2px var(--second-color);
    background: none;
    padding: 20px 20px 20px 55px;
    margin-right: 10px;
    color: var(--second-color);
    width: calc(100% - 150px);


}
.subscribe form input[type="email"]:focus{
    outline: none;
    background-color: var(--main-color);
}

.subscribe form input[type="submit"]{
    width: 150px;
    background-color: var(--third-color);
    color: var(--second-color);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 0px 100px;
    border: 2px solid var(--second-color);
    margin:25px auto;
    text-transform: uppercase;
}
.subscribe form input[type="submit"]:hover{
    background-color: var(--second-color);
    color: var(--main-color);
    transition: 0.5s;
    text-shadow: 0 0 10px var(--main-color);
    font-weight: bold;
}

.subscribe p{
    line-height: 1.5;
    margin-left: 50px;
}
@media (max-width: 991px) {
    .subscribe p{
        margin: 30px 0 0;
    }
    
}

/* end subscribe */

/* start contact us */
.contact-us{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}


.contact-us .content{
    display: flex;
    justify-content:space-between;
}
@media (max-width: 767px) {
    .contact-us .content{
        flex-direction: column;
    }
    
}
.contact-us .content form{
    flex-basis: 60%;
}
.contact-us .content .main-input{
    padding: 25px;
    display: block;
    border-radius: 0 100px;
    margin-bottom: 30px;
    margin-left: 40px;
    width: 90%;
    border: solid 2px var(--second-color);


}
.contact-us .content form textarea.main-input{
    height: 250px;
}
.contact-us .content form input[type="submit"]{

    background-color: var(--third-color);
    color: var(--second-color);
    text-decoration: none;
    padding: 20px;
    border-radius: 0px 100px;
    border: 2px solid var(--second-color);
    display: flex;
    margin-left: auto;
    cursor: pointer;
}
.contact-us .content form input[type="submit"]:hover{
    background-color: var(--second-color);
    color: var(--main-color);
    transition: 0.5s;
    text-shadow: 0 0 10px var(--main-color);
    font-weight: bold;
}
.contact-us .content .text{
    width: 30%;
}
@media (max-width: 767px) {
    .contact-us .content .text
    {
        width: 100%;
        order: -1;
        text-align: center;
        margin-bottom: 30px;
    }
}
@media (max-width: 767px){
    .contact-us .content .text h4:nth-of-type(2) {
        margin-top: 5px;
    }
}
.contact-us .content .text h4{
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 600px;
    font-size: 20px;
    color: var(--second-color);
    word-spacing: 5px;
}
.contact-us .content .text .phone{
    display: block;
    color: var(--third-color);
    margin-bottom: 10px;
    
}
.contact-us .content .text address{
    color: var(--third-color);

}
.contact-us .content .text h4:nth-of-type(2){
    margin-top: 150px;
}

/* end contact us */

/* start footer */

/* end footer */
























